---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import ContactCard from "@/layouts/components/ContactCard.astro";

const contactIndex = await getListPage("contact", "-index");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = contactIndex.data;

if (contactIndex.data.draft) {
  return Astro.redirect("/404");
}

// Get team members and find the first ordered contact
const team = await getSinglePage("team");
const sortedTeam = team
  .slice() // avoid mutating the original array
  .sort((a, b) => {
    const aOrder =
      typeof a.data.order === "number"
        ? a.data.order
        : Number.POSITIVE_INFINITY;
    const bOrder =
      typeof b.data.order === "number"
        ? b.data.order
        : Number.POSITIVE_INFINITY;
    return aOrder - bOrder;
  });

const firstContact = sortedTeam[0];
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm">
    <div class="container">
      <p class="text-center text-lg font-bold mb-2">
        We're available to work with you, please reach out today!
      </p>
      <ContactCard data={firstContact} />
    </div>
  </section>
</Base>
